@import "./settings";

.band {
  padding: rem(20) 0;
  border-bottom: 1px solid $gold;

  @include breakpoint(md) {
    padding: rem(10) 0;
  }

  &__empty {
    font-size: rem(24);
    text-align: center;
    padding: rem(20) rem(10);
    opacity: 0.5;
  }

  &__name {
    font-size: rem(18);
    padding-bottom: rem(5);

    @include breakpoint(md) {
      font-size: rem(20);
    }
  }
}

.album {
  padding: rem(10);
  word-break: break-word;

  @include breakpoint(md) {
    display: flex;
    justify-content: space-between;
  }

  @include breakpoint(md) {
    &:hover {
      background-color: transparentize($gold, .8);
    }
  }

  &__details {
    color: $gold;
    display: block;
    font-size: rem(14);
    margin-top: rem(5);
  }

  &__price {
    margin-top: rem(5);

    @include breakpoint(md) {
      margin-top: 0;
    }
  }
}
