@import "./settings";

.scroll-to-top {
  position: fixed;
  border-radius: rem(3);
  border: 1px solid $gold;
  background-color: $white;
  height: rem(40);
  width: rem(40);
  bottom: rem(20);
  right: rem(20);
  box-shadow: 0 0 rem(5) transparentize($black, .8);
  transition: all .3s ease;

  &--hidden {
    right: rem(-60);
    opacity: 0;
  }

  &__icon {
    display: block;
    max-width: 100%;
  }
}
