
// Colors
$black: #000;
$white: #fff;
$gray: rgb(71, 69, 70);
$gold: rgb(202, 180, 131);

// Layout/Breakpoints
$grid-breakpoints: (
  xs: 0,
  sm: rem(420),
  md: rem(768px),
  lg: rem(992px),
  xl: rem(1200px),
  wd: rem(1440px)
);

$container-max-widths: (
  sm: rem(400px),
  md: rem(720px),
  lg: rem(960px),
  xl: rem(1140px),
  wd: rem(1330px),
);
